@font-face { 
	font-family: 'arial'; 
	src:  url('../fonts/arial.ttf') format('truetype'); 
}

@font-face { 
	font-family: 'arial_black'; 
	src:  url('../fonts/arial_black.ttf') format('truetype'); 
}

@font-face { 
	font-family: 'geek_a_byte'; 
	src:  url('../fonts/geek_a_byte.ttf') format('truetype'); 
}

@font-face { 
	font-family: 'impact'; 
	src:  url('../fonts/impact.ttf') format('truetype'); 
}

@font-face { 
	font-family: 'letter_o_mattic'; 
	src:  url('../fonts/letter_o_mattic.ttf') format('truetype'); 
}

@font-face { 
	font-family: 'verdana'; 
	src:  url('../fonts/verdana.ttf') format('truetype'); 
}
